<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
    </script>
    <title>smallapp</title>
</head>
<body>
    {% block nav %}
        <ul id="nav">
            <li>{% block nav-upload %}<a href="/upload">Upload</a>{% endblock %}</li>
            <li>{% block nav-display %}<a href="/display">Display</a>{% endblock %}</li>
        </ul>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>