{% extends 'main.html' %}
{% block nav-upload %}<strong class="nav-active">Upload</strong>{% endblock %}
{% block content %}
<h1>upload<h1>
<table border = "1">
    {% for singleData in data %}
        <tr>
            <td>{{singleData}}<td>
        <tr>
    {% endfor%}
</table>
<form id = "my-form" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <button id = "submit-button">Save</button>
    <!-- <input id="fileSelect" type="file" accept=".csv" /><br>
    <input id = "fileName" type="Text">
    <input type = "submit"> -->

</form>
<script>
    document.getElementById("submit-button").addEventListener('click',function() {
        console.log('requested');
        $.post("http://127.0.0.1:8000/dataset/", $("#my-form").serialize())
            .done(function() { window.alert("Successfully submitted!"); })
            .fail(function() { window.alert("Submission failed!"); });
    });
</script>
{% endblock %}